{%- extends "base.html" %}

{% block mytitle %}{{ cti.name }}{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='wizard.css')}}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{url_for('static', filename='wizard.js')}}"></script>
{% endblock %}

{% block mycontent %}
    <div class="container">
	<div class="row">
        <div class="col-sm-6">
            <h2>CTI Overview  <span class="label label-default">{{ cti.get_status_name() }}</span></h2><br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Details</b></div>
                <div class="panel-body">
                    Id: {{ cti.id }}<br>
                    Name: {{ cti.name }}<br>
                    Created on: {{ cti.timestamp }}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Statistics</b></div>
                <div class="panel-body">
                    Number of loaded events: {{ cti.events|length }}<br>
                    Number of analysed features: {{ cti.features|length }}<br>
                    Number of assigned classifications: {{ cti.classifications|length }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" {% if cti.status == 0 %} class="active" {% elif cti.status < 0 %} class="disabled" {% else %} class {% endif %}>
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Events">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-import"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" {% if cti.status == 1 %} class="active" {% elif cti.status < 1 %} class="disabled" {% else %} class {% endif %}>
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Features">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-dashboard"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" {% if cti.status == 2 %} class="active" {% elif cti.status < 2 %} class="disabled" {% else %} class {% endif %}>
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Classification">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-tasks"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" {% if cti.status == 3 %} class="active" {% elif cti.status < 3 %} class="disabled" {% else %} class {% endif %}>
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <form role="form">
                <div class="tab-content">
                    <div class="tab-pane {% if cti.status == 0 %}active{% endif %}" role="tabpanel" id="step1">
                        <h3>Load data</h3>
                        <p>Number of events: {{ cti.events|length }}</p>

                        <ul class="list-inline pull-right">
                            <li><a type="button" class="btn btn-primary btn-info-full {% if cti.status <= 0 %}action{% else %}disabled{% endif %}" href="{{ url_for('analyse_events', id=cti.id) }}">Analyse events</a></li>
                            <li><button type="button" class="btn btn-default {% if cti.status > 0 %}next-step{% else %}disabled{% endif %}">Features >></button></li>
                        </ul>
                    </div>
                    <div class="tab-pane {% if cti.status == 1 %}active{% endif %}" role="tabpanel" id="step2">
                        <div class="col-sm-6">
                            <h3>Analysed behaviour(s)</h3>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Featurename</th>
                                        <th>Power</th>
                                        <th>Related Events</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for feature in cti.features if feature.feat_type == 'behaviour' %}
                                        <tr>
                                            <td><a href="{{ url_for('index') }}">{{ feature.name }}</a></td>
                                            <td>{{ feature.power }}</td>
                                            <td>{{ feature.events|length }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <h3>Analysed software</h3>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Featurename</th>
                                        <th>Type</th>
                                        <th>Power</th>
                                        <th>Related Events</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for feature in cti.features if feature.feat_type == 'software' %}
                                        <tr>
                                            <td><a href="{{ url_for('index') }}">{{ feature.name }}</a></td>
                                            <td>{{ feature.type }}</td>
                                            <td>{{ feature.power }}</td>
                                            <td>{{ feature.events|length }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <label for="algorithm">Algorithm</label>
                            <select class="form-control" id="algorithm">
                                <option>DecisionTree</option>
                                <option>NeuronalNetwork</option>
                            </select>
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step"><< Events</button></li>
                            <li><a type="button" class="btn btn-primary btn-info-full {% if cti.status <= 1 %}action{% else %}disabled{% endif %}" href="{{ url_for('classification.classify_features', ctiId = cti.id, module='NeuronalNetwork') }}">Classify features</a></li>
                            <li><button type="button" class="btn btn-default {% if cti.status > 1 %}next-step{% else %}disabled{% endif %}">Classification >></button></li>
                        </ul>
                    </div>
                    <div class="tab-pane {% if cti.status == 2 %}active{% endif %}" role="tabpanel" id="step3">
                        <h3>Step 3</h3>
                        <p>This is step 3</p>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step"><< Features</button></li>
                            <li><a type="button" class="btn btn-primary btn-info-full {% if cti.status <= 2 %}action{% else %}disabled{% endif %}" href="">Export CTI</a></li>
                            <li><button type="button" class="btn btn-default {% if cti.status > 2 %}next-step{% else %}disabled{% endif %}">Model >></button></li>
                        </ul>
                    </div>
                    <div class="tab-pane {% if cti.status == 3 %}active{% endif %}" role="tabpanel" id="complete">
                        <h3>Complete</h3>
                        <p>You have successfully completed all steps.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
        </section>
    </div>
    </div>
{% endblock %}
