{%- extends "base.html" %}

{% block mytitle %}{{ cti.name }}{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='wizard.css')}}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{url_for('static', filename='wizard.js')}}"></script>
{% endblock %}

{% block mycontent %}
    <div class="jumbotron">
      <h1>{{cti.name}}</h1>
    </div>

    <div class="container">
	<div class="row">
		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" {% if cti.status == 0 %} class="active" {% elif cti.status < 0 %} class="disabled" {% else %} class {% endif %}>
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" {% if cti.status == 1 %} class="active" {% elif cti.status < 1 %} class="disabled" {% else %} class {% endif %}>
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" {% if cti.status == 2 %} class="active" {% elif cti.status < 2 %} class="disabled" {% else %} class {% endif %}>
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-picture"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" {% if cti.status == 3 %} class="active" {% elif cti.status < 3 %} class="disabled" {% else %} class {% endif %}>
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <form role="form">
                <div class="tab-content">
                    <div class="tab-pane {% if cti.status == 0 %}active{% endif %}" role="tabpanel" id="step1">
                        <h3>Step 1</h3>
                        <p>This is step 1</p>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane {% if cti.status == 1 %}active{% endif %}" role="tabpanel" id="step2">
                        <h3>Step 2</h3>
                        <p>This is step 2</p>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                            <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane {% if cti.status == 2 %}active{% endif %}" role="tabpanel" id="step3">
                        <h3>Step 3</h3>
                        <p>This is step 3</p>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                            <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                            <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane {% if cti.status == 3 %}active{% endif %}" role="tabpanel" id="complete">
                        <h3>Complete</h3>
                        <p>You have successfully completed all steps.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
        </section>
    </div>
    </div>
{% endblock %}
