{% extends "base.html" %}

{% block mytitle %}CTI List{% endblock %}

{% block mycontent %}
    <div class="jumbotron">
      <h1>List of all CTI's</h1>
    </div>
    <div class="container">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
        <script> var count = 0; </script>
         {% for cti in ctiList %}
            <tr onclick="window.location.href = '/cti/{{cti.id}}';" style="cursor: pointer">
               <td>{{ cti.id }}</td>
               <td>{{ cti.name }}</td>
               <td>{% if cti.status == 0 %} <p> New </p> {% elif cti.status == 1 %} <p> Feed data </p> {% elif cti.status == 2 %} <p> Analysed </p> {% elif cti.status == 3%} <p> Finished </p> {% else %} <p> Error </p> {% endif %}</td>
               <td>{{ cti.timestamp }}</td>
                <td width="7cm"><form action='/delete_cti/{{cti.id}}'><input style="color:red" type="submit" value="Delete"></form></td>
            </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
