{%- extends "base.html" %}

{% block mytitle %}Features{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{url_for('static', filename='js/search.js')}}"></script>
{% endblock %}

{% block jumbo %}
    <div class="jumbotron">
        <h2><strong>Features <span class="badge">{{ featList|length }}</span></strong></h2>
      <h4>Overview of all features</h4>
    </div>
{% endblock %}

{% block mycontent %}
    <div class="container">
      <input class="form-control" id="mySearch" type="text" placeholder="Search.."><br>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody id="list_table">
         {% for feat in featList %}
            <tr onclick="window.location.href = '{{ url_for('feature_details', id=feat.id) }}';" style="cursor: pointer">
               <td>{{ feat.id }}</td>
               <td><a href="{{ url_for('feature_details', id=feat.id) }}">{{ feat.name }}</a></td>
               <td>{{ feat.feat_type }}</td>
           </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
